@charset "utf-8";
@import "style.path";

/*
 * --------------------------------------------------------------------------
 * descript : 공통 CSS(삭제 및 수정금지)
 * --------------------------------------------------------------------------
 * author	: 유대경
 * --------------------------------------------------------------------------
 */

 /* --------------------------------------------------------------------------
* Reset
-------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:inherit;font-family:inherit;vertical-align:baseline;font-style:initial}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}table{border-spacing:0;border-collapse:collapse}button,input{border:0}input[type=password]{-webkit-text-security:disc!important;font-family:text-security-disc!important}::after,::before{position:absolute;content:"";display:none;font-family:inherit;box-sizing:border-box;color:inherit}*{box-sizing:border-box; font-family:inherit;}a{color:inherit;}em,strong{font-weight:700;}button{background:none; padding:0;cursor:pointer;}mark{background:none;}

/* --------------------------------------------------------------------------
   2.0 탭 바로가기
   -------------------------------------------------------------------------- */
#skip a{position:absolute; left:-9999%;}
#skip a:focus{display:block; left:0; top:0; z-index:9999; width:100%; height:50px; line-height:50px; color:#fff; text-align:center; font-size:12px; font-weight:700; background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);}


/* --------------------------------------------------------------------------
   3.0 기본 스타일 정의
   -------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------
   4.0 링크 정의
   -------------------------------------------------------------------------- */
a:link, a:visited{/* color: #4d4d4d; */ text-decoration: none;}
a:active, a:hover{/* color: #525252; */ text-decoration: none;}



/* --------------------------------------------------------------------------
   5.0 해상도별 폰트 사이즈 정의
   -------------------------------------------------------------------------- */

   /* root em 기준으로 해상도별 배율값을 사용하기 위해 font-size는 계산의 편의상 반드시 10으로 절대 고정합니다. */
   html{letter-spacing:0; line-height:1; font-size:10px;} 

   @media(max-width:1600px){html{font-size:9.75px;}}
   @media(max-width:1400px){html{font-size:9.5px;}}
   @media(max-width:1280px){html{font-size:9.25px;}}
   @media(max-width:1024px){html{font-size:9px;}}
   @media(max-width:768px){html{font-size:8.75px;}}
   @media(max-width:640px){html{font-size:8.5px;}}
   @media(max-width:400px){html{font-size:8.25px;}}
   @media(max-width:320px){html{font-size:8px;}}

/* --------------------------------------------------------------------------
   6.0 이미지 엘리먼트 정의-
   ------------------------------------------------------------------------- */
img{max-width:100%; border:0px; vertical-align:top;}


/* --------------------------------------------------------------------------
   10.0 Common
   -------------------------------------------------------------------------- */

$designFontKr:'Pretendard';
$defaultFontKr:'맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans';
$mainColor:#1d77cb;

body{font-family:$designFontKr, $defaultFontKr, sans-serif; font-weight:initial;}

/* IE에서 input 타입의 password의 placeholder 폰트 설정 */
input:-ms-input-placeholder{font-family:$designFontKr, $defaultFontKr, sans-serif;}

mark{color:$mainColor;}

.init{
   font-size:0;

   & > *{
      display:inline-block; vertical-align:top;
   }

   &.t > *{vertical-align:top;}
   &.m > *{vertical-align:middle;}
   &.b > *{vertical-align:bottom;}
}

caption, legend{position:fixed; top:-100vw; width:0; height:0; text-indent:-100vh; font-size:0; opacity:0; z-index:-999;}



/* 셀렉트 박스 및 체크박스, 라디오버튼 커스텀 스타일 초기화 */
.form{
   $inputHeight:4.8rem;
   $inputPadding:0 1rem;
   $inputBackgroundColor:#fff;
   $inputBorder:1px solid transparent;
   $inputBorderColor:#ddd;
   $inputRadius:3px;
   $inputBorderColorActive:#858788;
   $inputColorActive:#111;
   $inputFontSize:1.6rem;

   select,
   textarea,
   input:not([type="checkbox"]):not([type="radio"]):not([type="file"]){
      height:$inputHeight;
      padding:$inputPadding;
      background-color:$inputBackgroundColor;
      border:$inputBorder;
      border-color:$inputBorderColor;
      border-radius:$inputRadius;
      font-size:$inputFontSize;

      &:focus{
         border-color:$inputBorderColorActive; color:$inputColorActive;
      }
   }

   select{
      padding-right:3rem; background:#fff url(#{$img}/common/svg/icon_select_arrow.svg) no-repeat calc(100% - 1rem) center; cursor:pointer;
   }

   input:read-only,
   input:disabled,
   select:disabled,
   textarea:read-only{background-color:#ddd !important; border-color:#cdd0d3 !important; color:#999 !important; cursor:default;}

   textarea{width:100%; resize:none; white-space:pre; background:#f6f9fd;}


   select,
   input[type="checkbox"],
   input[type="radio"]{
      -webkit-appearance:none;
         -moz-appearance:none;
          -ms-appearance:none;
           -o-appearance:none;
              appearance:none;
   }

   select::-ms-expand{display:none;}

   input.datepicker{background:#fff url(#{$img}/common/icon_calendar.svg) no-repeat calc(100% - 1rem) center;}

   .input{margin-right:10px; height:18px; line-height:18px; white-space:nowrap;}
   .input:last-child{margin-right:0;}

   .input input[type="checkbox"],
   .input input[type="radio"]{opacity:0; width:0; height:0; padding:0; margin:0; overflow:hidden;}

   .input input[type="checkbox"] + label,
   .input input[type="radio"] + label{position:relative; height:18px; cursor:pointer;}

   .input input[type="checkbox"]:disabled + label,
   .input input[type="radio"]:disabled + label{cursor:default; opacity:0.35;}

   .input input[type="checkbox"] + label span,
   .input input[type="radio"] + label span{display:inline-block; font-size:1.7rem;}

   .input input[type="checkbox"] + label span,
   .input input[type="radio"] + label span{margin-left:5px}


   .input input[type="checkbox"] + label::before,
   .input input[type="radio"] + label::before{position:relative; display:inline-block; width:18px; height:18px; border-radius:2px; border:1px solid #ddd; background:#fff; vertical-align:top;}

   .input input[type="radio"]:checked  + label::after{display:inline-block; width:10px; height:10px; border-radius:10px; background:#0277c5; left:4px; top:50%; margin-top:-5px;}

   .input input[type="checkbox"]:checked  + label::before{border-color:#2d4acb; background:#fff url(#{$img}/common/icon_check.svg) no-repeat center;}


   .input input[type="radio"] + label::before{border-radius:18px;}



   /* --------------------------------------------------------------------------
      11.0 텍스트 블록 색상
      -------------------------------------------------------------------------- */

   $selectionBackgroundColor:#eee;
   $selectionColor:#111;

   ::selection {
      background-color: $selectionBackgroundColor;
      color: $selectionColor;
   }

}

/* --------------------------------------------------------------------------
   12.0 크롬기반 브라우저 기본 스크롤 스타일 정의 (IE 11이하 적용되지 않습니다.)
   -------------------------------------------------------------------------- */
$scrollbarSize:5px;
$scrollbarTrackColor:#d1d1d1;
$scrollbarThumbColor:#111;

::-webkit-scrollbar{width:$scrollbarSize; height:$scrollbarSize;}
::-webkit-scrollbar-track{width:$scrollbarSize; background:$scrollbarTrackColor;}
::-webkit-scrollbar-thumb{background:$scrollbarThumbColor;}

/* --------------------------------------------------------------------------
   13.0 기본 팝업
   -------------------------------------------------------------------------- */
.pop{
   position:fixed; width:100%; height:100vh; line-height:100vh; left:0; top:0; background:rgba(0,0,0,0.6); z-index:9999; font-size:0; text-align:center; overflow:auto;

   .el{
      position:relative; width:1024px; max-height:60rem; overflow-y:auto; display:inline-block; line-height:1; vertical-align:middle; background:#fff; text-align:left;

      .pop-header{
         height:11rem; line-height:11rem; padding:0 3.5rem; font-size:1.5rem; background:#0e76d9; color:#fff;

         h2{font-size:3.2rem !important;}
      }
      
      .pop-contents{
         padding:3.5rem; background:#fff; font-size:1.6rem; line-height:1.5; color:#454545;

         h3{position:relative; font-size:2.4rem; font-weight: 500; color:#222;}


         .scroll{
            border-top:2px solid #0277c5; border-bottom:1px solid #ddd;
         }

         table{

            thead{

               tr{

                  th{
                     border-right:1px solid #eee;

                     &:last-child{border-right:0;}
                  }
               }
            }

            tbody{

               tr{

                  th,
                  td{padding:1.5rem;}
               }
            }
         }
      }

      button.pop-close{position:absolute; width:11rem; height:11rem; right:0; top:0;}
   }
}

/* --------------------------------------------------------------------------
   14.0 기본 버튼
   -------------------------------------------------------------------------- */
.btn-group {
   & > *{margin-right:0.5rem;}
   & > *:last-child{margin-right:0;}

   .btn{
      min-width:18rem; height:6rem; line-height:calc(6rem - 2px); border-radius:0.7rem; padding:0 2rem; background-color:#fff; border:1px solid #ccc; font-size:0; color:#111;

      @media(max-width:1024px){
         min-width:0; height:5rem; line-height:calc(5rem - 2px);
      }

      img{display:inline-block; margin-left:1rem; vertical-align:middle;}
      span{display:inline-block; vertical-align:middle; font-size:1.7rem; color:inherit;}

      &.active{background-color:#005aab; color:#fff; border-color:transparent;}

      &.more{
         border-color:#949494;

         span{
            position:relative; padding-right:2rem;

            &::after{display:inline-block; width:7px; height:7px; right:0; top:50%; margin-top:-3.5px; border-top:2px solid #ddd; border-right:2px solid #ddd; transform:rotate(135deg);}
         }
      }
   }
}


/* --------------------------------------------------------------------------
   15.0 기본 테이블
   -------------------------------------------------------------------------- */

   
.ui-datepicker{
   width:26rem;

   *::before,
   *::after{display:inline; position:relative;}

   .ui-datepicker-title{font-size:1.5rem;}

   .ui-datepicker-prev,
   .ui-datepicker-next{top:6px;}

   table{
      width:100%; font-size:1.3rem; text-align:center;

      td{

         height:auto; padding:2px;

         a{padding:5px;}
      }

   }
}

// 기본 테이블 스타일 정의 (데이트픽커 예외 처리)
div:not(.ui-datepicker){

   table{
      width:100%; border-top:2px solid #111; font-size:1.7rem; line-height:2rem; border-collapse:separate; border-spacing:0;
   
      &.fixed{table-layout:fixed;}
   
      &.sticky{
   
         position:relative; border-top:0;
         
   
         > thead{
         
               > tr{
   
                  > th,
                  > td{position:sticky; top:0; }
               }
         }
   
         > tbody{
   
            > tr:last-child{
   
               th,
               td{border-bottom:0;}
            }
         }
      }
   
      > thead{
         
         > tr{
   
            > th,
            > td{height:5.5rem; border-bottom:2px solid #ddd; vertical-align:middle; background:#fff;}
         }
      }
   
      > tbody{
   
         > tr{
   
            > th,
            > td{
               height:8rem; padding:1rem 3rem; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; vertical-align:middle;
   
               &:last-child{border-right:0;}
   
               > label{
                  position:relative; height:3rem; line-height:3rem;
   
                  i{
                     position:absolute; right:-2rem; top:0; width:8px; height:8px; border-radius:8px; background:#005aab;
                  }
               }
   
               input + button{
                  padding:0 1.5rem; height:4.8rem; background:#005aab; font-size:1.7rem; color:#fff; border-radius:3px;
   
               }
   
               ul{
   
                  li{
                     position:relative; padding-left:1rem; line-height:2.5rem; font-size:1.6rem; color:#666;
   
                     &::before{display:inline-block; width:5px; height:1px; left:0; top:1.3rem; background:#666;}
                  }
               }
            }
   
   
            th{background:#f3f7f9;}
         }
      }
   }
}


/* --------------------------------------------------------------------------
   16.0 선택자 트릭을 이용한 탭 너비 조정
   -------------------------------------------------------------------------- */
.tab{

   /* one item */
   > *:first-child:nth-last-child(1) {
   
   }

   /* two items */
   > *:first-child:nth-last-child(2),
   > *:first-child:nth-last-child(2) ~ * {
       min-width:27rem;

       @media(max-width:1024px){
           min-width:0; width:calc(50% - 0.25rem);
       }
   }

   /* three items */
   > *:first-child:nth-last-child(3),
   > *:first-child:nth-last-child(3) ~ * {
       min-width:27rem;

       @media(max-width:1024px){
           min-width:0; width:calc(33.3333333333% - 0.333333333rem);
       }
   }

   /* four items */
   > *:first-child:nth-last-child(4),
   > *:first-child:nth-last-child(4) ~ * {
   
   }

   /* five items */
   > *:first-child:nth-last-child(5),
   > *:first-child:nth-last-child(5) ~ * {
   
   }


}


/* --------------------------------------------------------------------------
   17.0 기본 페이징 스타일 ( '.init' 클래스가 동반되어야 합니다. )
   -------------------------------------------------------------------------- */
.pagination{

   > *{

       width:4rem; height:4rem; line-height:calc(4rem - 2px); margin:2px; border-radius:5px; border:1px solid #ddd; text-align:center; font-size:1.5rem; color:#626262; background:no-repeat center; transition:all 0.2s ease;

       &:hover{ border-color:#005aab; color:#005aab;}
       
   }


   em{background:#005aab; border-color:#005aab; color:#fff !important;}

   img{vertical-align:middle;}

   a.prev{margin-right:1rem;}
   a.next{margin-left:1rem;}
}

