@charset "utf-8";       // 인코딩 설정
@import "style.path";   // 경로 변수처리

$inner:1600px;

// 공통 inner 클래스
.inner{max-width:$inner; margin:0 auto;}

// safari에서 가로스크롤 방지하기 위한 트릭
html,
body{position:relative; overflow-x:hidden; }

@media(max-width:$inner){
    .inner{padding:0 2rem;}
}

